/* 自定义样式：仅更改字体颜色 */

/* 更改所有标题颜色 */
h3 {
    color: #66605f; /* 橙色 */
    padding: 5px;
    font-style: italic; /* 斜体 */
}

h4 {
    color: #FF5733; /* 橙色 */
    background-color: #f2f2f2; /* 浅灰色背景 */
    padding: 5px;
    border-left: 5px solid #ffc465; /* 左侧蓝色边框 */
    font-style: italic; /* 斜体 */
    font-weight: bold; /* 加粗 */
    text-transform: uppercase; /* 全部大写 */
}

h5, h6 {
    color: #056a47; /* 橙色 */
    background-color: #f2f2f2; /* 浅灰色背景 */
    padding: 5px;
    border-left: 5px solid #79c89a; /* 左侧蓝色边框 */
    font-style: italic; /* 斜体 */
    text-decoration: underline; /* 下划线 */
}

/* 更改段落文字颜色 */
p {
    color: #333333; /* 深灰色 */
}

/* 更改链接颜色 */
a {
    color: #007BFF; /* 蓝色 */
}

/* 更改列表项文字颜色 */
li {
    color: #4CAF50; /* 绿色 */
}

/* 检测用户的系统主题，应用深色模式样式 */
@media (prefers-color-scheme: dark) {
    body {
      background: black; /* 背景颜色 */
      color: white;      /* 主体文字颜色 */
    }
  
    /* 标题样式 */
    h3 {
      color: #E8E8E8; /* 浅灰色 */
      padding: 5px;
      font-style: italic; /* 斜体 */
    }
  
    h4 {
      color: #FFA07A; /* 浅橙色 */
      background-color: #333333; /* 深灰色背景 */
      padding: 5px;
      border-left: 5px solid #FFB27F; /* 浅橙边框 */
      font-style: italic; /* 斜体 */
      font-weight: bold; /* 加粗 */
      text-transform: uppercase; /* 全部大写 */
    }
  
    h5, h6 {
      color: #90EE90; /* 浅绿色 */
      background-color: #444444; /* 更深灰背景 */
      padding: 5px;
      border-left: 5px solid #98FB98; /* 亮绿色边框 */
      font-style: italic; /* 斜体 */
      text-decoration: underline; /* 下划线 */
    }
  
    /* 段落文字 */
    p {
      color: #CCCCCC; /* 浅灰色 */
    }
  
    /* 链接样式 */
    a {
      color: #87CEFA; /* 浅蓝色 */
      text-decoration: underline; /* 下划线 */
    }
  
    /* 列表项 */
    li {
      color: #98FB98; /* 浅绿色 */
    }
  }
  